{{!-- Slideshow para un futuro, no encuentro la razón por la que no sirve
<div>
    <img name="slideShow" width="50%">
</div> --}}

<a href="/6producto"><img class="imagenesBody" src="/img/productos/home/promociones/1.jpeg" alt="promocion1" width="100%" /></a>
<div class="flex">
    <a href="">Productos con garantia</a>
    <a href="" class="esconderDesktop">Envios a todo el país</a>
    <a href="">Paga seguro aquí</a>
</div>
<a href="/8productosRecomendados"><img class="imagenesBody" src="/img/productos/home/productosRecomendados/1.jpg" alt="promocion1" width="100%" /></a>

