<div class="producto">
    <a href="/producto1"><img src="" alt="producto1" width=""></a>
    <a href="/producto1">Nombre del producto</a>
    <h2>referencia</h2>
    <div>precio</div>
</div>



<h1>{{product.section}}</h1>
<ul>
{{#each product.items}}
  <li>{{this}}</li>
{{/each}}
</ul>
<a href="/products">Ir a Products</a>